name: Backend Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Build Docker image
      run: |
        docker build -t backend-image:latest -f backend-server/Dockerfile backend-server